# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# =========================
# Dataset - DO NOT COMMIT
# =========================
dataset/
*.zip

# =========================
# macOS
# =========================
.DS_Store
__MACOSX/

# =========================
# Generated outputs
# =========================
output/

# =========================
# Environment / secrets
# =========================
.env
.env.*

# =========================
# IDE
# =========================
.vscode/
.idea/